body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #6D93B7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

h2{
    font-size: 1.7em;
    text-transform: uppercase;
}

header a{
    color: white;
    text-transform: capitalize;
    height: inherit;
    font-weight: bold;
}

header ol li{
    padding: 15px 10px;
}

ol{
    margin: 0;
}

h2{
    color: rgb(48, 104, 156);
    text-align: center;
}

ol,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

p{
    margin: 0.5em;
}

.images{
    width: 298px;
    border: 3px solid #6D93B7;
    /* padding: 50px; */
    display: grid;
    grid-template-rows: 180px 1fr;
    justify-content: center;
    align-items: center
}

.products{
    display: grid;
    grid-template-columns: repeat(5,minmax(100px,298px));
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    justify-content: center;
}

.art-image{
    margin: 0;
    display: grid;
    justify-content: center;
}

.art-image img{
    width: 130px;
    /* height: 130px; */
}

.information{
    padding-left: 10px;
    padding-right: 5px;
}

strong,
a{
    text-transform: uppercase;
    font-size: 1em;
}

p{
    text-transform: capitalize;
    font-size: 0.8em;
}

@media screen and (max-width:1655px) {
    .products {
        display: grid;
        grid-template-columns: repeat(4,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:1335px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:1040px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:670px){
    .products {
        display: grid;
        grid-template-columns: repeat(1,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}