body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --lcolor: #6D93B7;
    --hccolor:rgb(48, 104, 156);
}

header{
    background-color: var(--lcolor);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

h2{
    font-size: 1.7em;
    text-transform: uppercase;
}

header a{
    color: white;
    text-transform: capitalize;
    height: inherit;
    font-weight: bold;
}

header ol li{
    padding: 15px 10px;
}

ol{
    margin: 0;
}

h2{
    color: var(--hccolor);
    text-align: center;
}

ol,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

p{
    margin: 0.5em;
}

.images{
    width: 298px;
    border: 3px solid var(--lcolor);
    /* padding: 50px; */
    display: grid;
    grid-template-rows: 180px 1fr;
    justify-content: center;
    align-items: center
}

.images:hover .art-image{
    animation-name: picture;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    /* animation-direction: alternate;
    animation-timing-function: steps(60); */
    animation-fill-mode: forwards;
    /* transform: scale(1.5);
    /* transform: translate(100px);
    transform: translateZ(100px); */
}

@keyframes picture {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.3)
    }

}

.art-image{
    width: inherit;
    height: inherit;
    transition: .4s;
}

.products{
    display: grid;
    grid-template-columns: repeat(5,minmax(100px,298px));
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    justify-content: center;
}

.art-image{
    margin: 0;
    display: grid;
    justify-content: center;
}

.art-image img{
    width: 130px;
    /* height: 130px; */
}

.information{
    padding-left: 10px;
    padding-right: 5px;
}

strong,
a{
    text-transform: uppercase;
    font-size: 1em;
}

p{
    text-transform: capitalize;
    font-size: 0.8em;
}

@custom-media --Slarge screen and (width >= 1655px);
@custom-media --large screen and (width <= 1654px);
@custom-media --medium screen and (width <= 1040px);
@custom-media --small screen and (width <= 670px);


@media (--Slarge) {
    .products {
        display: grid;
        grid-template-columns: repeat(4,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media (--large) {
    .products {
        display: grid;
        grid-template-columns: repeat(3,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media (--medium) {
    .products {
        display: grid;
        grid-template-columns: repeat(2,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media (--small){
    .products {
        display: grid;
        grid-template-columns: repeat(1,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}