body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #6D93B7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

h2{
    font-size: 1.7em;
    text-transform: uppercase;
}

header a{
    color: white;
    text-transform: capitalize;
    height: inherit;
    font-weight: bold;
}

header ol li{
    padding: 15px 10px;
}

ol{
    margin: 0;
}

h2{
    color: rgb(48, 104, 156);
    text-align: center;
}

ol,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

p{
    margin: 0.5em;
}

.images{
    width: 298px;
    border: 3px solid #6D93B7;
    /* padding: 50px; */
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 180px 1fr;
    grid-template-rows: 180px 1fr;
    justify-content: center;
    align-items: center
}

.images:hover .art-image{
    -webkit-animation-name: picture;
            animation-name: picture;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    /* animation-direction: alternate;
    animation-timing-function: steps(60); */
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    /* transform: scale(1.5);
    /* transform: translate(100px);
    transform: translateZ(100px); */
}

@-webkit-keyframes picture {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.3)
    }

}

@keyframes picture {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.3)
    }

}

.art-image{
    width: inherit;
    height: inherit;
    transition: .4s;
}

.products{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px,298px))[5];
    grid-template-columns: repeat(5,minmax(100px,298px));
    grid-row-gap: 10px;
    grid-column-gap: 15px;
    justify-content: center;
}

.art-image{
    margin: 0;
    display: -ms-grid;
    display: grid;
    justify-content: center;
}

.art-image img{
    width: 130px;
    /* height: 130px; */
}

.information{
    padding-left: 10px;
    padding-right: 5px;
}

strong,
a{
    text-transform: uppercase;
    font-size: 1em;
}

p{
    text-transform: capitalize;
    font-size: 0.8em;
}

@media screen and (max-width:1655px) {
    .products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(100px,298px))[4];
        grid-template-columns: repeat(4,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:1335px) {
    .products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(100px,298px))[3];
        grid-template-columns: repeat(3,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:1040px) {
    .products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(100px,298px))[2];
        grid-template-columns: repeat(2,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width:670px){
    .products {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(100px,298px))[1];
        grid-template-columns: repeat(1,minmax(100px,298px));
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    }
}